package ${packageName}.mapper;

import com.galio.mybatis.mapper.BaseMapperPlus;
import ${packageName}.model.${ClassName};
import ${packageName}.model.vo.${ClassName}Vo;

/**
 * @Author: ${author}
 * @Date: ${datetime}
 * @Description: ${functionName}Mapper接口
 */
public interface ${ClassName}Mapper extends BaseMapperPlus<${ClassName}Mapper, ${ClassName}, ${ClassName}Vo> {

}
