package ${packageName}.model.dto;

import com.galio.core.model.PageRequestDto;
import com.galio.core.validate.SelectGroup;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import jakarta.validation.constraints.*;

#foreach ($import in $importList)
import ${import};
#end

/**
 * @Author: ${author}
 * @Date: ${datetime}
 * @Description: ${functionName}业务对象
 */

@Data
@Schema(description = "${functionName}业务对象")
public class ${ClassName}PageReqDto extends PageRequestDto {

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField) && $column.query)
    /**
     * $column.columnComment
     */
#if($column.isRequired == 1)
    @NotBlank(message = "$column.columnComment不能为空", groups = { SelectGroup.class })
#end
    @Schema(description = "$column.columnComment")
    private $column.javaType $column.javaField;

#end
#end

}
