package ${packageName}.service;

import ${packageName}.model.dto.${ClassName}Dto;
import ${packageName}.model.${ClassName};
#if($table.crud || $table.sub)
import com.galio.mybatis.page.PageDto;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#end

import java.util.Collection;
import java.util.List;

/**
 * @Author: ${author}
 * @Date: ${datetime}
 * @Description: ${functionName}Service接口
 */
public interface ${ClassName}Service {

    /**
     * 查询${functionName}
     */
    ${ClassName} queryById(${pkColumn.javaType} ${pkColumn.javaField});

#if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     */
    Page<${ClassName}> queryPageList(PageDto pageDto);
#end

    /**
     * 查询${functionName}列表
     */
    List<${ClassName}> queryList(${ClassName}Dto dto);

    /**
     * 修改${functionName}
     */
    Boolean insertByDto(${ClassName}Dto dto);

    /**
     * 修改${functionName}
     */
    Boolean updateByDto(${ClassName}Dto dto);

    /**
     * 校验并批量删除${functionName}信息
     */
    Boolean deleteWithValidByIds(Collection<${pkColumn.javaType}> ids, Boolean isValid);
}
