# test环境
spring:
  config:
    import:
      - optional:nacos:application-common.yml
      - optional:nacos:datasource.yml
      - optional:nacos:${spring.application.name}.yml
nacos:
  server-addr: ${dev_nacos_addr}
  discovery:
    group: DEFAULT_GROUP
    namespace: ${dev_nacos_namespace}
  config:
    group: DEFAULT_GROUP
    namespace: ${dev_nacos_namespace}