import request from '@/utils/request'

// 分页查询${functionName}列表
export function list${BusinessName}(param) {
  return request.post('/${moduleName}/${businessName}/page',param)
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
  return request.get('/${moduleName}/${businessName}/' + ${pkColumn.javaField})
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request.post('/${moduleName}/${businessName}', data)
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request.put('/${moduleName}/${businessName}', data)
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}) {
  return request.delete('/${moduleName}/${businessName}/' + ${pkColumn.javaField})
}

// 批量删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}s) {
  return request.delete('/${moduleName}/${businessName}/' + ${pkColumn.javaField}s)
}
