import { request } from '@/utils'

#if(${prePath})
    #set($restUrl="/"+$moduleName+"/"+$prePath+"/"+$businessName)
#else
    #set($restUrl="/"+$moduleName+"/"+$businessName)
#end
#set($restUrl=$restUrl.toLowerCase())
#set($entryLower=$BusinessName)
#set($viewModuleNameLower=$viewModuleName.toLowerCase())
export default {
  // 添加$viewModuleNameLower
  save${entryLower}: (params = {}) => request.post(`${restUrl}`, { params }),
  // 修改$viewModuleNameLower
  update${entryLower}: (params = {}) => request.put(`${restUrl}`, { params }),
  // 删除单条$viewModuleNameLower
  delete${entryLower}: id => request.delete(`${restUrl}/${s}{id}`),
  // 删除多条$viewModuleNameLower
  deletes${entryLower}: ids => request.post('${restUrl}/deletes', ids),
  // 查询单条$viewModuleNameLower
  list${entryLower}: id => request.get(`${restUrl}/${s}{id}`),
  // 分页查询$viewModuleNameLower
  page${entryLower}: params => request.post('${restUrl}/page', params),
  // 导出Excel$viewModuleNameLower
  excel${entryLower}: params => request.post('${restUrl}/excel', params, { responseType: 'arraybuffer' })

}
