package ${packageName}.model.dto;

import com.galio.core.validate.UpdateGroup;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import jakarta.validation.constraints.*;

#foreach ($import in $importList)
import ${import};
#end
import com.galio.core.model.BaseEntity;

/**
 * @Author: ${author}
 * @Date: ${datetime}
 * @Description: ${functionName}业务对象
 */
@Data
@Schema(description = "${functionName}业务对象")
public class ${ClassName}EditDTO extends BaseEntity {

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.fieldName) && ($column.query || $column.isInsert || $column.isEdit))
    /**
     * $column.columnComment
     */
#if($column.isPk())
    #if($column.fieldType == 'String')
    @NotBlank(message = "$column.columnComment不能为空", groups = { UpdateGroup.class })
    #else
    @NotNull(message = "$column.columnComment不能为空", groups = { UpdateGroup.class })
    #end
#end
    @Schema(description = "$column.columnComment")
    private $column.fieldType $column.fieldName;

#end
#end

}
