package ${packageName};

import org.springframework.boot.Banner;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class ${appClassName} {

    public static void main(String[] args) {
        SpringApplication springApplication = new SpringApplication(${appClassName}.class, args);
        springApplication.setBannerMode(Banner.Mode.OFF);
        springApplication.run(args);
    }

}
