<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galio.system.mapper.EmployeeMapper">

    <resultMap type="com.galio.system.model.Employee" id="EmployeeResult">
    <result property="employeeId" column="employee_id"/>
    <result property="orgId" column="org_id"/>
    <result property="employeeName" column="employee_name"/>
    <result property="employeeNo" column="employee_no"/>
    <result property="email" column="email"/>
    <result property="mobilePhone" column="mobile_phone"/>
    <result property="fixedPhone" column="fixed_phone"/>
    <result property="sex" column="sex"/>
    <result property="age" column="age"/>
    <result property="entryDate" column="entry_date"/>
    <result property="termDate" column="term_date"/>
    <result property="status" column="status"/>
    <result property="deleteFlag" column="delete_flag"/>
    <result property="appId" column="app_id"/>
    <result property="remark" column="remark"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
