<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysDictItemMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysDictItem">
            <id property="dictItemId" column="dict_item_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="OTHER"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="dictId" column="dict_id" jdbcType="VARCHAR"/>
            <result property="cssClass" column="css_class" jdbcType="VARCHAR"/>
            <result property="listClass" column="list_class" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        dict_item_id,order_num,label,
        value,dict_id,css_class,
        list_class,is_default,status,
        create_by,create_time,update_by,
        update_time,remark,app_id
    </sql>
</mapper>
