<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysDatasetMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysDataset">
            <id property="datasetId" column="dataset_id" jdbcType="BIGINT"/>
            <result property="datasourceId" column="datasource_id" jdbcType="BIGINT"/>
            <result property="datasetCode" column="dataset_code" jdbcType="VARCHAR"/>
            <result property="datasetName" column="dataset_name" jdbcType="VARCHAR"/>
            <result property="dataContent" column="data_content" jdbcType="VARCHAR"/>
            <result property="fetchType" column="fetch_type" jdbcType="CHAR"/>
            <result property="dataTable" column="data_table" jdbcType="VARCHAR"/>
            <result property="primaryKey" column="primary_key" jdbcType="VARCHAR"/>
            <result property="labelCol" column="label_col" jdbcType="VARCHAR"/>
            <result property="whereClause" column="where_clause" jdbcType="VARCHAR"/>
            <result property="orderCol" column="order_col" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        dataset_id,datasource_id,dataset_code,
        dataset_name,data_content,fetch_type,
        data_table,primary_key,label_col,
        where_clause,order_col,app_id,
        remark,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
