<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysDatasourceMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysDatasource">
            <id property="datasourceId" column="datasource_id" jdbcType="BIGINT"/>
            <result property="datasourceName" column="datasource_name" jdbcType="VARCHAR"/>
            <result property="datasourceType" column="datasource_type" jdbcType="CHAR"/>
            <result property="driverClass" column="driver_class" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="testQuery" column="test_query" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        datasource_id,datasource_name,datasource_type,
        driver_class,url,username,
        password,test_query,app_id,
        remark,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
