<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysEmployeeMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysEmployee">
            <id property="employeeId" column="employee_id" jdbcType="BIGINT"/>
            <result property="orgId" column="org_id" jdbcType="BIGINT"/>
            <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
            <result property="employeeNo" column="employee_no" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="mobilePhone" column="mobile_phone" jdbcType="OTHER"/>
            <result property="fixedPhone" column="fixed_phone" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="age" column="age" jdbcType="OTHER"/>
            <result property="entryDate" column="entry_date" jdbcType="DATE"/>
            <result property="termDate" column="term_date" jdbcType="DATE"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="CHAR"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        employee_id,org_id,employee_name,
        employee_no,email,mobile_phone,
        fixed_phone,sex,age,
        entry_date,term_date,status,
        delete_flag,app_id,remark,
        create_by,create_time,update_by,
        update_time
    </sql>
</mapper>
