<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysFunctionMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysFunction">
            <id property="functionId" column="function_id" jdbcType="BIGINT"/>
            <result property="functionName" column="function_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="OTHER"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="queryParam" column="query_param" jdbcType="VARCHAR"/>
            <result property="isFrame" column="is_frame" jdbcType="CHAR"/>
            <result property="isCache" column="is_cache" jdbcType="CHAR"/>
            <result property="functionType" column="function_type" jdbcType="CHAR"/>
            <result property="belong" column="belong" jdbcType="CHAR"/>
            <result property="visible" column="visible" jdbcType="CHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="CHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        function_id,function_name,parent_id,
        order_num,path,component,
        query_param,is_frame,is_cache,
        function_type,belong,visible,
        delete_flag,perms,icon,
        app_id,create_by,create_time,
        update_by,update_time,remark
    </sql>
</mapper>
