<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysGroupMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysGroup">
            <id property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="groupCode" column="group_code" jdbcType="BIGINT"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="appId" column="app_id" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id,group_code,group_name,
        order_num,status,app_id,
        remark,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
