<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysGroupRoleMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysGroupRole">
            <id property="groupId" column="group_id" jdbcType="BIGINT"/>
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id,role_id
    </sql>
</mapper>
