<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysRoleDatasetMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysRoleDataset">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <id property="datasetId" column="dataset_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,dataset_id
    </sql>
</mapper>
